beautifulsoup4
accelerate
bitsandbytes
colorama
fastapi
huggingface-hub
markdown-it-py==4.0.0
nh3==0.3.2
numpy
openpyxl
pydantic
pypdf
pytest
python-docx
python-multipart
requests
sentence-transformers
torch
transformers
uvicorn
